<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= link_to "Sign_up", new_user_registration_path %>
       <%= link_to "Sign_in", new_user_session_path %>
       <%= link_to "Sign_out", destroy_user_session_path%>
       <h1> RAISE UP YOUR WORDS</h1>
    <%= yield %>
  </body>
</html>
